<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Google Maps Demo</title>
    <%= javascript_include_tag :all %>
    <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=<%= GeoKit::Geocoders::google %>"
          type="text/javascript"></script>
    <style type="text/css">
      html, body { 
        margin:0; 
        height:100% 
      } 
      #map {
        min-height: 100%;
        background-color: #DDD;
      }
      * html #map {
        height: 100%;
      }
      
      .minimap {
        float:left;
        width: 100px;
        height: 100px;
        border: 1px solid #000;
        overflow: hidden;
      }
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
